/* style.css */

body {
    font-family: 'Helvetica', Times, serif
    margin: 0;
    padding: 0;
    background-color: #00000000; /* Slightly lighter dark background color for the body */
    background-image: url(https://pbs.twimg.com/media/F_P-QH1WMAAGD9z?format=jpg&name=large); /* Replace with the path to your background image */
    background-size: cover;
    color: #fff;
    font-size: 20px /* Adjust the font size as needed*/
}

header {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a {
    color: rgb(255, 255, 255); /* Adjust the link color */
    text-decoration: none;
}

/* Add the following style to change the link color */
a {
    color: #ffffff; /* Change to your desired link color */
}

section {
    max-width: 800px;
    margin: 20px auto;
    margin-top: ;
    margin-bottom: 70px;
    padding: 20px;
    background-color: rgb(119, 153, 129);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(163, 234, 121)
}

h2 {
    color: #ffffff;
    
}

.project {
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #00ffcc;
    border-radius: 8px;
    background-color: #00ffcc;
    color: #00ffcc;
}

.project:hover {
    background-color: #00ffcc;
    color: #00ffcc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #00ffcc;
}

.modal-content {
    background-color: rgba(0, 255, 204, 0.1);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #00ffcc;
    border-radius: 8px;
    text-align: center;
}

.close {
    color: #00ffcc;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.close:hover {
    color: #00ffcc;
}

.project-details {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center; /* Align items vertically at the center */
}

.project-description {
        flex: 1; /* Allow the text to take remaining width */
}
    
p {
    font-size: 18px; /* Adjust the size as needed */
}

h3 {
    font-size: 20px; /* Adjust the size as needed */
    font-weight: bold;
}
    
    
